name: Validate

on:
  push:
    branches:
      - main

permissions:
  contents: read
  actions: write

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          cache-binary: true
      - name: Build with cache
        run: |
          docker buildx build \
            -f cicd.Dockerfile \
            --cache-from type=gha \
            --cache-to type=gha,mode=max \
            --build-arg GITHUB_WORKSPACE="." \
            --output=type=cacheonly .
