name: Validate

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: cicd.Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: GITHUB_WORKSPACE=${{ secrets.GITHUB_WORKSPACE }} MESSAGE="under world"

