name: Validate

on:
  push:
    branches:
      - main

permissions:
  contents: read
  actions: write

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: .cache
          key: fixed-cache-key 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
        driver-opts: |
          image=moby/buildkit:latest
      - name: CI
        run: docker build -f cicd.Dockerfile --cache-from type=local,src=.cache/ --cache-to type=local,dest=.cache/,mode=max --build-arg GITHUB_WORKSPACE="." --output=type=cacheonly .

