name: Validate

on:
  push:
    branches:
      - main

permissions:
  contents: read
  actions: write

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
      - name: Build with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          file: cicd.Dockerfile
          build-args: |
            GITHUB_WORKSPACE=.
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=cacheonly

